.status{
  width: 15px;
  height: 15px;
  border-radius: 8px;
  border: #d8d8d8 solid 1px;
  margin-right: 5px;
}
.white {
  background: white;
}
.green {
  border-color: green;
  background: green;
}
.blue {
  border-color: blue;
  background: blue;
}
.grey {
  border-color: grey;
  background: grey;
}
.gold {
  border-color: gold;
  background: gold;
}